<form [formGroup]="firstFormGroup">


    <mat-form-field class="block">
        <input type="email" matInput placeholder="Login" formControlName="login">
        <mat-error *ngIf="login.invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field class="block">
        <input type="password" matInput placeholder="Password" formControlName="password">
        <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
    </mat-form-field>


    <mat-form-field class="block">
        <input type="password" matInput placeholder="Confirm password" formControlName="confirmPassword" [errorStateMatcher]="confirmErrorState">
        <mat-error *ngIf="confirmPassword.invalid || firstFormGroup.errors?.passwordsMisMatch">{{getConfirmPasswordErrorMessage()}}</mat-error>
    </mat-form-field>

    <div>
        <mat-checkbox formControlName="agree">Agree work for food</mat-checkbox>
        <mat-error *ngIf="agree.invalid && agree.touched">Required</mat-error>
    </div>
    <div>
        <button mat-raised-button matStepperNext (click)="onNextClick()">Next</button>
    </div>
</form>