<mat-horizontal-stepper linear (selectionChange)="onSelectionTabChanged($event)">
    <mat-step [stepControl]="step1.firstFormGroup">
        <ng-template matStepLabel>Login information</ng-template>
        <registration-step1 #step1></registration-step1>
    </mat-step>
    <mat-step [stepControl]="step2.secondFormGroup">
        <ng-template matStepLabel>Location</ng-template>
        <registration-step2 #step2 (onSaveClick)="onSubmit()"></registration-step2>
    </mat-step>
</mat-horizontal-stepper>
<div *ngIf="savingInProgress" class="overlay">
    <mat-progress-spinner mode="indeterminate">
    </mat-progress-spinner>
    <div>