::ng-deep mat-form-field.block {
    display: block;
    width: 100%;
    max-width: 400px;
  }

  .overlay {
    position: fixed;    
    width: 100%; 
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2;

    > mat-progress-spinner{
      margin: auto;
      margin-top: 100px;
    }
  }

  .snackBarError{
    background-color: #EFB3E1;
  }

  .snackBarGreen{
    background-color: #B3EFC3;
  }

  