<form [formGroup]="secondFormGroup">

    <mat-form-field class="block">
        <mat-label>Country</mat-label>
        <mat-select formControlName="country">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let country of countries" [value]="country.id">
                {{country.name}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="country.errors?.required">Country is required field</mat-error>
        <mat-error *ngIf="country.errors?.failedLoadCountries">Failed load countries</mat-error>
    </mat-form-field>

    <mat-form-field class="block">
        <mat-label>Province</mat-label>
        <mat-select formControlName="province">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let province of provinces" [value]="province.id">
                {{province.name}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="province.errors?.required">Province is required field</mat-error>
        <mat-error *ngIf="province.errors?.failedLoadProvinces">Failed load provinces list</mat-error>
    </mat-form-field>
    
    <div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button (click)="onSave()">Save</button>
    </div>
</form>