<table class='table' *ngIf="users">
    <thead>
        <tr>
            <th>Email</th>
            <th>Country</th>
            <th>Province</th>
            <th>Registration date</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{ user.email }}</td>
            <td>{{ user.country }}</td>
            <td>{{ user.province }}</td>
            <td>{{ user.registrationDateTime | date :'short'  }}</td>
        </tr>
    </tbody>
</table>